/*
    Light Theme for 'db_interface_gui.fxml'
    Provides Changes forFor Every Element in UI
    Blue White Color Scheme
*/

.nav_btn {
    -fx-background-color:#444;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
    -fx-background-radius:10;
    -fx-pref-width:150px;
    -fx-pref-height:40px;
}

.profile_btn {
    -fx-background-color:#444;
    -fx-font-family: "System";
    -fx-font-size:14px;
    -fx-text-alignment: center;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER;
    -fx-background-radius:10px;
    -fx-pref-width:121px;
    -fx-pref-height:38px;
}

.menu_bar {
    -fx-background-color: #ADD8E6;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
    -fx-text-alignment: center;
}

.menu_item {
    -fx-background-color: #c9fffc;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #000;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
}

.text-field {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-prompt-text-fill: DARKGRAY;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-family: "Arial";
}

.left_pane {
    -fx-background-color:#045955;
    -fx-pref-width:150px;
    -fx-pref-height:600px;
}

.bottom_pane {
    -fx-background-color:#f88;
}

.profile_pic {
    -fx-stroke: white;
    -fx-stroke-width: 3;
}